# weld:http:installed __version__
# HTTP listen address. Override with the --addr flag or the HTTP_ADDR
# environment variable; a command-line flag outranks the environment, which
# outranks this file.
http:
  addr: ":8080"
