package app

import (
	"flag"
	"fmt"
	"net/http"
	"os"
	"time"

	httpserver "__module__/internal/server"
)

func runServe(args []string) error {
	flags := flag.NewFlagSet("serve", flag.ContinueOnError)
	flags.SetOutput(os.Stderr)
	addr := flags.String("addr", ":8080", "address to listen on")
	if err := flags.Parse(args); err != nil {
		return err
	}

	srv := &http.Server{
		Addr:              *addr,
		Handler:           httpserver.New(),
		ReadHeaderTimeout: 5 * time.Second,
	}
	fmt.Fprintf(os.Stderr, "__name__ listening on http://%s\n", displayAddr(*addr))
	return srv.ListenAndServe()
}

func displayAddr(addr string) string {
	if addr != "" && addr[0] == ':' {
		return "localhost" + addr
	}
	return addr
}
